@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

    h2 {
    }

    #line {
        border-bottom: 1.5px solid white;
        border: 1.5px solid white;
        border-radius: 3px;
        font-size: 130%;
        font-weight: 900;
        padding: .15em 1em;
    }
    

/*

    @-webkit-keyframes line {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

 @keyframes line {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

    #line a {
        -moz-animation: nav-icons 0.5s ease-in-out forwards;
        -webkit-animation: nav-icons 0.5s ease-in-out forwards;
        -ms-animation: nav-icons 0.5s ease-in-out forwards;
        animation: nav-icons 0.5s ease-in-out forwards;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        display: inline-block;
        height: 5.35em;
        line-height: 5.885em;
        opacity: 0;
        position: relative;
        top: 0;
        width: 5.35em;
    }

    #line a {
        -moz-animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -ms-animation-delay: 1s;
        animation-delay: 1s;
    }

#line a {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        border: 0;
        display: inline-block;
    }

        #line a:before {
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            border-radius: 100%;
            border: solid 1px #fff;
            display: block;
            font-size: 1.75em;
            height: 2.5em;
            line-height: 2.5em;
            position: relative;
            text-align: center;
            top: 0;
            width: 2.5em;
        }

        #line a:hover {
            font-size: 1.1em;
        }

            #line a:hover:before {
                background-color: rgba(255, 255, 255, 0.175);
                color: #fff;
            }

        #line a:active {
            font-size: 0.95em;
            background: none;
        }

            #line a:active:before {
                background-color: rgba(255, 255, 255, 0.35);
                color: #fff;
            }

        #line a {
            display: none;
        }
        
*/










        
        

	body, input, select, textarea {
		color: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15pt;
		font-weight: 300 !important;
		letter-spacing: -0.025em;
		line-height: 1.75em;
	}

	body {
		background: #fff;
		overflow: visible;
	}
/*
		body.loading * {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
*/
	a {
		-moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		border-bottom: dotted 1px;
		color: inherit;
		outline: 0;
		text-decoration: none;
	}

		a:hover {
			border-color: transparent;
		}

/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Wrapper */

	@-moz-keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes wrapper {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	#wrapper {
		-moz-animation: wrapper 1s forwards;
		-webkit-animation: wrapper 1s forwards;
		-ms-animation: wrapper 1s forwards;
		animation: wrapper 1s forwards;
		height: 150%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

/* BG */

	#bg {
		-moz-animation: bg 60s linear infinite;
		-webkit-animation: bg 60s linear infinite;
		-ms-animation: bg 60s linear infinite;
		animation: bg 60s linear infinite;
        /*
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
        */
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	/* Set your background with this */

		background: #348cb2 url("../images/bg.jpg") bottom left;
		background-repeat: repeat-x;
		height: inherit;
		left: 0;
		opacity: 1;
		position: relative;
		top: 0;
	}

	@-moz-keyframes bg {
		0% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		100% {
			-moz-transform: translate3d(-2250px,0,0);
			-webkit-transform: translate3d(-2250px,0,0);
			-ms-transform: translate3d(-2250px,0,0);
			transform: translate3d(-2250px,0,0);
		}
	}

	@-webkit-keyframes bg {
		0% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		100% {
			-moz-transform: translate3d(-2250px,0,0);
			-webkit-transform: translate3d(-2250px,0,0);
			-ms-transform: translate3d(-2250px,0,0);
			transform: translate3d(-2250px,0,0);
		}
	}

	@-ms-keyframes bg {
		0% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		100% {
			-moz-transform: translate3d(-2250px,0,0);
			-webkit-transform: translate3d(-2250px,0,0);
			-ms-transform: translate3d(-2250px,0,0);
			transform: translate3d(-2250px,0,0);
		}
	}

	@keyframes bg {
		0% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		100% {
			-moz-transform: translate3d(-2250px,0,0);
			-webkit-transform: translate3d(-2250px,0,0);
			-ms-transform: translate3d(-2250px,0,0);
			transform: translate3d(-2250px,0,0);
		}
	}

	#bg {
		background-size: auto auto;
		width: 6750px;
	}

/* Overlay */
/*
	@-moz-keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
*/
/*
	#overlay {
		-moz-animation: overlay 0.5s 0.5s forwards;
		-webkit-animation: overlay 0.5s 0.5s forwards;
		-ms-animation: overlay 0.5s 0.5s forwards;
		animation: overlay 0.5s 0.5s forwards;
		background-attachment: fixed, fixed;
		background-image: url("images/overlay-pattern.png"), url("images/overlay.svg");
		background-position: top left, center center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}
*/
/* Main */

	#main {
		height: inherit;
		left: 0;
		position: absolute;
		text-align: center;
		top: 3em;
		width: 100%;
	}

		#main:before {
			content: '';
			display: inline-block;
			height: auto;
			margin-right: 0;
			vertical-align: middle;
			width: 1px;
		}

/* Header */

	@-moz-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-moz-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes nav-icons {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	#header {
		-moz-animation: header .75s 0s forwards;
		-webkit-animation: header .75s 0s forwards;
		-ms-animation: header .75s 0s forwards;
		animation: header .75s 0s forwards;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		cursor: default;
		display: inline-block;
		opacity: 0;
		position: relative;
		text-align: center;
		top: -1em;
		vertical-align: middle;
		width: 90%;
	}

		#header h1 {
			font-size: 3.35em;
			font-weight: 700;
			letter-spacing: -0.035em;
			line-height: 1em;
		}

		#header p {
			font-size: 1.25em;
			margin: 0.75em 0 0.25em 0;
			opacity: 0.75;
            margin-right: 13em;
            margin-left: 13em;
            text-align: justify;
		}

		#header nav {
			margin: 1.5em 0 0 0;
		}

			#header nav li {
				-moz-animation: nav-icons 0.5s ease-in-out forwards;
				-webkit-animation: nav-icons 0.5s ease-in-out forwards;
				-ms-animation: nav-icons 0.5s ease-in-out forwards;
				animation: nav-icons 0.5s ease-in-out forwards;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				display: inline-block;
				height: 5.35em;
				line-height: 5.885em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 5.35em;
			}

				#header nav li:nth-child(1) {
					-moz-animation-delay: 0.5s;
					-webkit-animation-delay: 0.5s;
					-ms-animation-delay: 0.5s;
					animation-delay: 0.5s;
				}

				#header nav li:nth-child(2) {
					-moz-animation-delay: 0.75s;
					-webkit-animation-delay: 0.75s;
					-ms-animation-delay: 0.75s;
					animation-delay: 0.75s;
				}

				#header nav li:nth-child(3) {
					-moz-animation-delay: 1s;
					-webkit-animation-delay: 1s;
					-ms-animation-delay: 1s;
					animation-delay: 1s;
				}

				#header nav li:nth-child(4) {
					-moz-animation-delay: 1.25s;
					-webkit-animation-delay: 1.25s;
					-ms-animation-delay: 1.25s;
					animation-delay: 1.25s;
				}

				#header nav li:nth-child(5) {
					-moz-animation-delay: 1.5s;
					-webkit-animation-delay: 1.5s;
					-ms-animation-delay: 1.5s;
					animation-delay: 1.5s;
				}

				#header nav li:nth-child(6) {
					-moz-animation-delay: 1.75s;
					-webkit-animation-delay: 1.75s;
					-ms-animation-delay: 1.75s;
					animation-delay: 1.75s;
				}

				#header nav li:nth-child(7) {
					-moz-animation-delay: 2s;
					-webkit-animation-delay: 2s;
					-ms-animation-delay: 2s;
					animation-delay: 2s;
				}

				#header nav li:nth-child(8) {
					-moz-animation-delay: 2.25s;
					-webkit-animation-delay: 2.25s;
					-ms-animation-delay: 2.25s;
					animation-delay: 2.25s;
				}

				#header nav li:nth-child(9) {
					-moz-animation-delay: 2.5s;
					-webkit-animation-delay: 2.5s;
					-ms-animation-delay: 2.5s;
					animation-delay: 2.5s;
				}

				#header nav li:nth-child(10) {
					-moz-animation-delay: 2.75s;
					-webkit-animation-delay: 2.75s;
					-ms-animation-delay: 2.75s;
					animation-delay: 2.75s;
				}

			#header nav a {
				-webkit-tap-highlight-color: transparent;
				-webkit-touch-callout: none;
				border: 0;
				display: inline-block;
			}

				#header nav a:before {
					-moz-transition: all 0.2s ease-in-out;
					-webkit-transition: all 0.2s ease-in-out;
					-ms-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					border-radius: 100%;
					border: solid 1px #fff;
					display: block;
					font-size: 1.5em;
					height: 2.5em;
					line-height: 2.5em;
					position: relative;
					text-align: center;
					top: 0;
					width: 2.5em;
				}

				#header nav a:hover {
					font-size: 1.1em;
				}

					#header nav a:hover:before {
						background-color: rgba(255, 255, 255, 0.175);
						color: #fff;
					}

				#header nav a:active {
					font-size: 0.95em;
					background: none;
				}

					#header nav a:active:before {
						background-color: rgba(255, 255, 255, 0.35);
						color: #fff;
					}

				#header nav a span {
					display: none;
				}

/* Footer */

	#footer {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
		bottom: 0;
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 8em;
		position: absolute;
		text-align: center;
		width: 100%;
	}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}
        
            body {
                overflow: visible;
            }
        
            #header p {
                margin-right: 15em;
                margin-left: 15em;
            }

		/* BG */

			@-moz-keyframes bg {
				0% {
					-moz-transform: translate3d(0,0,0);
					-webkit-transform: translate3d(0,0,0);
					-ms-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				100% {
					-moz-transform: translate3d(-1500px,0,0);
					-webkit-transform: translate3d(-1500px,0,0);
					-ms-transform: translate3d(-1500px,0,0);
					transform: translate3d(-1500px,0,0);
				}

	}

		@-webkit-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-1500px,0,0);
				-webkit-transform: translate3d(-1500px,0,0);
				-ms-transform: translate3d(-1500px,0,0);
				transform: translate3d(-1500px,0,0);
			}
			}

		@-ms-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-1500px,0,0);
				-webkit-transform: translate3d(-1500px,0,0);
				-ms-transform: translate3d(-1500px,0,0);
				transform: translate3d(-1500px,0,0);
			}
		}

		@keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-1500px,0,0);
				-webkit-transform: translate3d(-1500px,0,0);
				-ms-transform: translate3d(-1500px,0,0);
				transform: translate3d(-1500px,0,0);
			}
		}

		#bg {
			background-size: 1500px auto;
			width: 4500px;
		} }

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}
        
            body {
                overflow: visible;
            }
        
            #header p {
                margin-right: 13em;
                margin-left: 13em;
            }

		/* BG */

			@-moz-keyframes bg {
				0% {
					-moz-transform: translate3d(0,0,0);
					-webkit-transform: translate3d(0,0,0);
					-ms-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				100% {
					-moz-transform: translate3d(-750px,0,0);
					-webkit-transform: translate3d(-750px,0,0);
					-ms-transform: translate3d(-750px,0,0);
					transform: translate3d(-750px,0,0);
				}

	}

		@-webkit-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-750px,0,0);
				-webkit-transform: translate3d(-750px,0,0);
				-ms-transform: translate3d(-750px,0,0);
				transform: translate3d(-750px,0,0);
			}
			}

		@-ms-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-750px,0,0);
				-webkit-transform: translate3d(-750px,0,0);
				-ms-transform: translate3d(-750px,0,0);
				transform: translate3d(-750px,0,0);
			}
		}

		@keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-750px,0,0);
				-webkit-transform: translate3d(-750px,0,0);
				-ms-transform: translate3d(-750px,0,0);
				transform: translate3d(-750px,0,0);
			}
		}

		#bg {
			background-size: 750px auto;
			width: 2250px;
		} 
}

/* iPad Mini non-retina */
/* iPad normal 1 & 2 */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { 
    
    #bg { 
        -moz-animation: none;
        -webkit-animation: none;
        -ms-animation: none;
        animation: none;
        width: 100%;
    }
}
    

/*   @media number 3 */

    @media screen and (max-width: 1150px) {
        #header p {
                margin-right: 9em;
                margin-left: 9em;
            }
        body {
            overflow: visible;
        }
    }


/*   @media number 4 */

    @media screen and (max-width: 1000px) {
        #header p {
                margin-right: 8em;
                margin-left: 8em;
            }
        #wrapper {
                height: 110em;
            }
        body {
            overflow: visible;
        }
    }

/*   @media number 5 */

    @media screen and (max-width: 840px) {
        #header p {
                margin-right: 4em;
                margin-left: 4em;
            }
        #wrapper {
                height: 107em;
            }
        body {
            overflow: visible;
        }
    }

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body {
				min-width: 320px;
			}
        
            body {
                overflow: visible;
            }

			body, input, select, textarea {
				font-size: 11pt;
			}
        
            #header p {
                margin-right: 3em;
                margin-left: 3em;
            }
        
            #wrapper {
                height: 100em;
            }

		/* BG */

        /*
			@-moz-keyframes bg {
				0% {
					-moz-transform: translate3d(0,0,0);
					-webkit-transform: translate3d(0,0,0);
					-ms-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				100% {
					-moz-transform: translate3d(-300px,0,0);
					-webkit-transform: translate3d(-300px,0,0);
					-ms-transform: translate3d(-300px,0,0);
					transform: translate3d(-300px,0,0);
				}

	}

		@-webkit-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-300px,0,0);
				-webkit-transform: translate3d(-300px,0,0);
				-ms-transform: translate3d(-300px,0,0);
				transform: translate3d(-300px,0,0);
			}
			}

		@-ms-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-300px,0,0);
				-webkit-transform: translate3d(-300px,0,0);
				-ms-transform: translate3d(-300px,0,0);
				transform: translate3d(-300px,0,0);
			}
		}

		@keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-300px,0,0);
				-webkit-transform: translate3d(-300px,0,0);
				-ms-transform: translate3d(-300px,0,0);
				transform: translate3d(-300px,0,0);
			}
		}

		#bg {
			background-size: 300px auto;
			width: 900px;
		}
        
        */
        
        #bg { 
            -moz-animation: none;
            -webkit-animation: none;
            -ms-animation: none;
            animation: none;
            width: 100%;
        }

	/* Header */

		#header h1 {
			font-size: 2.5em;
		}

		#header p {
			font-size: 1.2em;
		}

		#header nav {
			font-size: 1em;
		}

			#header nav a:hover {
				font-size: 1em;
			}

			#header nav a:active {
				font-size: 1em;
			} 
}


/*  @media number 6   */

@media screen and (max-width: 614px) {
    #wrapper {
                height: 120em;
            }
    
    body {
		overflow: visible;
	}
}

/* Mobile (Portrait) */

	@media screen and (max-width: 480px) {
        
        
            #lang1, #lang2 {
                display: none;
            }
        
        
            #header p {
                margin-right: 3em;
                margin-left: 3em;
            }
        
            #wrapper {
                height: 140em;
            }
        
            body {
                overflow: visible;
            }

		/* BG */

			@-moz-keyframes bg {
				0% {
					-moz-transform: translate3d(0,0,0);
					-webkit-transform: translate3d(0,0,0);
					-ms-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				100% {
					-moz-transform: translate3d(-412.5px,0,0);
					-webkit-transform: translate3d(-412.5px,0,0);
					-ms-transform: translate3d(-412.5px,0,0);
					transform: translate3d(-412.5px,0,0);
				}

	}

		@-webkit-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-412.5px,0,0);
				-webkit-transform: translate3d(-412.5px,0,0);
				-ms-transform: translate3d(-412.5px,0,0);
				transform: translate3d(-412.5px,0,0);
			}
			}

		@-ms-keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-412.5px,0,0);
				-webkit-transform: translate3d(-412.5px,0,0);
				-ms-transform: translate3d(-412.5px,0,0);
				transform: translate3d(-412.5px,0,0);
			}
		}

		@keyframes bg {
			0% {
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
			}

			100% {
				-moz-transform: translate3d(-412.5px,0,0);
				-webkit-transform: translate3d(-412.5px,0,0);
				-ms-transform: translate3d(-412.5px,0,0);
				transform: translate3d(-412.5px,0,0);
			}
		}

		#bg {
			background-size: 412.5px auto;
			/* width: 1237.5px; */
            width: 100%;
		}

	/* Header */

		#header nav {
			padding: 0 1em;
		} 
}



/*  @media number 8   */

@media screen and (max-width: 420px) {
    #header p {
                margin-right: 2em;
                margin-left: 2em;
            }
    #wrapper {
                height: 150em;
            }
    #header h1 {
        font-size: 2em;
    }
    
    body {
		overflow: visible;
	}
}


/*  @media number 9   */

@media screen and (max-width: 350px) {
    #header p {
                margin-right: 1em;
                margin-left: 1em;
            }
    #wrapper {
                height: 90em;
            }
    #header h1 {
        font-size: 1.5em;
    }
    
    body {
		overflow: visible;
	}
}




#separator {
    border-bottom: 1.5px solid white;
}

#back {
    padding: .6em;
    border: 1px solid white;
    border-radius: 3.5em;
}

body {
    overflow-x: hidden;
}


#back:hover, #back:focus {
        background-color: rgba(255, 255, 255, 0.25);
        transform: scale(1.2);
    }
/*
#back {
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}*/

#back {
    transition: all 0.2s ease-out;
}

/*
#back {
  float: left; 
}
*/

/*
#back:hover, # {
  transform: scale(1.2);
}
*/

@-moz-keyframes back {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes back {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-ms-keyframes back {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes back {
    0% {
        -moz-transform: translate3d(0,1em,0);
        -webkit-transform: translate3d(0,1em,0);
        -ms-transform: translate3d(0,1em,0);
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

#back {
    /*
    -moz-animation: nav-icons 0.5s ease-in-out forwards;
    -webkit-animation: nav-icons 0.5s ease-in-out forwards;
    -ms-animation: nav-icons 0.5s ease-in-out forwards;
    animation: nav-icons 0.5s ease-in-out forwards;
    /*
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    /*
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    /*
    display: inline-block;
    height: 5.35em;
    line-height: 5.885em;
    opacity: 0;
    position: relative;
    top: 0;
    width: 5.35em;
    */
}


    #back:hover {
        font-size: 1.1em;
    }






#lang1 {
    position: absolute;
    top: 1em;
    right: 6em;
}

#lang2 {
    position: absolute;
    top: 1em;
    right: 1em;
}

.lang:hover {
        font-size: 1em;
    }

.lang:hover, .lang:focus {
        background-color: rgba(255, 255, 255, 0.25);
        transform: scale(1.2);
    }

.lang {
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.lang {
    transition: all 0.2s ease-out;
    padding: .2em;
}



#bg { 
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    width: 100%;
}






/* IMAC 21 */

@media only screen 
and (min-device-width : 1800px)
and (max-device-width : 2500px) {
    
    /* This controls the text of the bio */
    /* I should delete the repetition of margin */

    #header p {
        font-size: 1.2em;
        margin: 0.75em 0 0.25em 0;
        opacity: 0.75;
        margin-right: 26%;
        margin-left: 26%;
        text-align: justify;
    }
    
    #wrapper {
            height: 170%;
            /* height: 160%; */
            /* height: 120%; */
        }

}


/* iMac 27 media query - does it work? */

@media only screen 
and (min-device-width : 2501px) {
    
    #header p {
        /* font-size: 1.5em; */
        font-size: 1em;
        margin: 0.75em 0 0.25em 0;
        opacity: 0.75;
        margin-right: 30%;
        margin-left: 30%;
        text-align: justify;
    }
    
    #wrapper {
            height: 170%;
            /* height: 160%; */
            /* height: 120%; */
    }
    
}



/* Iphone 6s plus */

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
    
    #wrapper {
        height: 135em;
    }
}


/* Iphone 6 portriat */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    
    /* STYLES GO HERE */ 
    /* I should add margin to the bottom of the nav so it doesnt sit half on top of the mountains on portrait */
}


/* ipad pro */

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation : portrait) { 
    
    #wrapper {
         height: 120%;
    }
}



/* iPad Mini Retina Landscape*/
/* iPad normal 3 & 4 Landscape*/


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2)  { 
    
    /* STYLES GO HERE */
    /* Increase a bit the height of the wrapper */
    /*
    #wrapper {
        height: 110em;  
    }
    */
}




/* MACBOOK PRO 13 RETINA */
/* MACBOOK AIR 11 ??? */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1366px) { 
    
    /* STYLES GO HERE */
    /* Increase a bit the height of the wrapper for the macbook air 11inch */
    
    #wrapper {
        height: 155%;  
    }
    
}




