<!DOCTYPE HTML>
<html>
	<head>
		<title>Gaspar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{site.baseurl}}css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
                        <a href="{{site.baseurl}}" id="lang1" class="lang">English</a>
                        <a href="{{site.baseurl}}es" id="lang2" class="lang">Español</a>
                        <img src="{{site.baseurl}}images/gaspar_web_6.png" alt="Gaspar Lobato Grinberg" width="230" height="230">
						<h1>Gaspar Lobato Grinberg</h1>
						<p>International Sales and Marketing &nbsp;&bull;&nbsp; Business Journalism &nbsp;&bull;&nbsp; Wine Industry</p>
                        <br>
                        <a href="{{site.baseurl}}bio.html" id="back" class="back1">Bio</a> 
                        <a href="https://altmanberg.com" id="back" class="back2" target="_blank">Blog</a> 
						<nav>
							<ul>
                                <!--<li><a href="{{site.baseurl}}/bio.html" class="icon fa-info"><span class="label">Bio</span></a></li>-->
                                <li><a href="https://www.linkedin.com/in/gasparlg" class="icon fa-linkedin" target="_blank"><span class="label">Dribbble</span></a></li>
								<li><a href="https://twitter.com/gasparlberg" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                                <li><a href="https://www.instagram.com/gasparlg/" class="icon fa-instagram" target="_blank"><span class="label">Bio</span></a></li>
								<li><a href="https://www.facebook.com/gaspar.lobato" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
								<li><a href="mailto:gasparlobato@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<!--<span class="copyright">&copy; 2016 - Gaspar Lobato Grinberg.--> 
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			/* window.ontouchmove = function() { return false; } */
			/* window.onorientationchange = function() { document.body.scrollTop = 0; } */
		</script>
	</body>
</html>